@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header styles */

header {
    background: #FFF;
    padding: 30px 240px;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav-image {
    width: 86.041px;
    height: 40px;
    margin-top: 10px;
}

.nav-titel {
    font-size: 45px;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 15px;
}

.Linear {
    color: #FF42A5;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: -10px;
    border: 0;
}

/* Baner section styles */

.baner {
    padding: 150px 240px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}


.baner .baner-image {
    width: 511px;
    height: 546px;
    margin-top: -100px;
}

.baner-titel {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

}

.baner-bold {
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -50px;
}

.baner-paragraph {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: -35px;
}

.baner-btn-one {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
    border: 0;
}

.baner-btn-two {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}

/* Second baner styles */

.second-baner {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 90px 240px;
    display: flex;
    justify-content: space-between;
}

.second-baner-image {}

.second-baner-container {
    text-align: right;
}


.second-baner-titel {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-baner-paragraph {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.second-baner-lag {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

/* Online Games Styles */

.games-card {
    padding: 120px 240px;
    text-align: center;
    
}

.games-text-container {
    gap: 10px;
}

.games-caed-titel {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.games-caed-titel-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.games-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.games-titel {
    text-align: left;
}

/* Icons Styles */

.icons {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.icons-container {
    padding: 120px 276px;
}
.first-icons-div {
    display: flex;
    justify-content: center;
}

.btn-one {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}   
.btn-two {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-three {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-four {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-five {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 15.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}

.second-icons-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-six {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 16.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-seven {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 17.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-eight {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}
.btn-nine {
    width: 220px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background-image: url(../images/Rectangle\ 19.png);
    background-repeat: no-repeat;
    background-position: left;
    border: 0;
    margin-right: 20px;
}




















/* Responsive Media Quary */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
    }
}